*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}

:root {
  --color-primary: #51c4d3;
  --color-secondary: #126e82;
  --color-tertiary: #132c33;
  --color-tertiary-light: #1c3b44;
  --color-light-blue: #d8e3e7;
}

/* Preloader */
#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
}

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  border-top-style: #fff;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  animation: loader 0.8s linear infinite;
}

.height-60 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* Utilities */
.mb-6 {
  margin-bottom: 8rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

@keyframes loader {
  0% {
    border: 4px solid #51c4d3;
    transform: rotate(0deg);
    border-left-color: #fff;
  }

  50% {
    border: 4px solid #132c33;
    transform: rotate(180deg);
    border-left-color: #fff;
  }

  100% {
    border: 4px solid #51c4d3;
    transform: rotate(360deg);
    border-left-color: #fff;
  }
}
/* Preloader ends */

/* Header */
.header {
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/header-bg.jpg);
  background-size: cover;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/pattern.png) repeat center center rgba(0, 0, 0, 0.7);
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.header-logo {
  height: 5rem;
  margin-top: 0.5rem;
}
.header__textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.button:link,
.button:visited {
  padding: 2rem 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--color-primary);
  color: #fff;
  transition: background-color 0.3s;
}

.button:hover,
.button:active {
  background-color: rgba(19, 44, 51, 1);
}
/* Header Ends */

/* Headings Starts*/
.heading__primary--main {
  font-size: 6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}

.heading__primary--sub {
  font-size: 2rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
}

.header__link {
  margin-top: 3rem;
}

.heading__secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(
    to right bottom,
    var(--color-secondary),
    var(--color-tertiary)
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
}

/* .heading__secondary::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.35rem;
  left: 10vw;
  width: 5rem;
  height: 1rem;
  background-color: var(--color-tertiary-light);
}
.heading__secondary::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.25rem;
  right: 10vw;
  width: 5rem;
  height: 1rem;
  background-color: var(--color-tertiary-light);
} */

/* Heading Ends */

/* Navigation */
nav {
  background-color: rgba(19, 44, 51, 0.9);
}
.navigation-item {
  margin: 30px auto;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}

.navigation-link:hover,
.navigation-link:active {
  border-bottom: 1px solid var(--color-light-blue);
}

.section-info {
  padding: 20rem;
  font-size: 1.6rem;
}

.navigator {
  position: absolute;
  top: 10rem;
  left: 22rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  .navigator {
    left: 10rem;
  }
}

.navigator h3 {
  font-size: 4rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
}

.navigator a {
  text-decoration: none;
  color: var(--color-light-blue);
  margin-right: 0.5rem;
  font-weight: 300;
}

.navigator span {
  margin-left: 0.5rem;
  font-weight: 300;
}
/* Navigation ends */
/* ---------------------
      HOME PAGE
------------------------ */
.section-about {
  padding: 6rem 0;
}

.about-a {
  padding: 2rem 0;
}

.about-1 {
  margin-bottom: 6rem;
}

.normal__para {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem 0;
}

.section-crypto {
  padding-bottom: 0;
}

.section-why-us {
  padding: 8rem 0;
  background-color: #f3f3f3;
}

.info-item {
  position: relative;
  background-color: #fff;
  border-radius: 2rem 0 2rem 0;
  padding: 4.5rem 3rem 4rem 4rem;
  margin-bottom: 3rem;
}

.info-icon {
  height: 10rem;
  width: 10rem;
  line-height: 10rem;
  display: block;
  border-radius: 50%;
  border: 1px solid #555;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.center-icon {
  width: 100%;
  text-align: center;
}

.info-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

.info-desc {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
/* ---------------------
      ABOUT US PAGE
------------------------ */

/* ---------------------
      FOREX PAGE
------------------------ */
.section-forex {
  padding: 10rem 0;
}

.widget {
  margin: 0 auto;
}

.forex-para {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-crypto-data {
  padding: 10rem 0;
}

.section-fx-heat-map {
  padding: 10rem 0;
}

.section-market-data {
  padding: 10rem 0;
}
/* ---------------------
      AFFILIATES PAGE
------------------------ */

/* ---------------------
      INVESTMENTS PAGE
------------------------ */
.section-investment {
  padding: 10rem 0;
}

.investment-heading-para {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.investment-card {
  background-color: white;
  box-shadow: 1rem 1rem 2rem var(--color-light-blue);
  text-align: center;
  margin: 0 auto;
}

.investment-card:not(:last-child) {
  margin-bottom: 3rem;
}

.card-content {
  padding: 3rem 4.5rem;
  color: var(--color-tertiary);
}

.card-content p {
  font-size: 1.4rem;
}

.card-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.card-price {
  padding: 1rem 1rem;
  border: 1px solid var(--color-primary);
  background-color: #f2f2f2;
  margin-top: 2.5rem;
}

.price {
  font-size: 4rem;
  color: var(--color-secondary);
  margin: 0.5rem 0;
}

.card-details {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.card-icons {
  max-width: 50%;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--color-secondary);
  border-radius: 50%;
  line-height: 6rem;
  font-size: 3.5rem;
  color: var(--color-secondary);
}

.card-details-content {
  padding-left: 1.2rem;
  padding-right: 0.5rem;
  text-align: left;
}

.card-details-content span {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-secondary);
  line-height: 1;
}

.card-details-content p {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-top: 5px;
}

.card-profit {
  display: flex;
  padding: 1rem 0;
  background-color: #f4f4f4;
  margin-top: 3rem;
  box-shadow: 0 0.3rem 1rem 0 var(--color-light-blue);
  text-align: center;
  justify-content: space-between;
}

.profit-item {
  width: calc(100% / 2);
  height: auto;
  padding: 0 10px;
  text-align: center;
}

.profit-item:not(:last-child) {
  border-right: 1px solid var(--color-tertiary);
}

.caption {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.amount {
  font-size: 2.4rem;
  color: var(--color-tertiary);
  margin-top: 0.5rem;
}

.center {
  margin-top: 3rem;
}

.btn-invest {
  padding: 2rem 4rem;
  background-color: var(--color-tertiary);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
}

.btn-invest:hover,
.btn-invest:active {
  background-color: var(--color-light-blue);
  color: var(--color-tertiary);
}
/* ---------------------
      CONTACT US PAGE
------------------------ */
.contact-header {
  width: 100vw;
  height: 30rem;
  background-image: url(../img/contact_background.jpg);
  background-size: cover;
}

.contact-paragraph {
  font-size: 1.6rem;
}

.section-contact {
  padding: 10rem 0;
}

.btn-contact {
  padding: 1.3rem 3rem;
  font-size: 2rem;
  background-color: var(--color-tertiary-light);
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 3rem;
  transition: all 0.2s;
}

.btn-contact:hover,
.btn-contact:active {
  background-color: var(--color-light-blue);
  color: var(--color-tertiary);
}

.input-field label {
  font-size: 1.3rem;
}

/* Footer starts */
footer {
  width: 100%;
}

.footer-top {
  padding: 10rem 0;
  background-color: var(--color-secondary);
}

.footer-bottom {
  background-color: var(--color-tertiary);
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.footer__heading--subtitle {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 400;
}

.footer__heading--title {
  color: #fff;
  font-size: 6.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 0.5rem;
}

.footer-form {
  height: 100%;
  position: relative;
}

.subscribe-form {
  position: relative;
  height: 100%;
  max-width: 60rem;
}

#subs_email {
  width: 60%;
  height: 100%;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  border: none;
  border-radius: 10rem;
  padding-right: 8rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-light-blue);
}

#subs_email::placeholder {
  color: var(--color-light-blue);
}

.subs_button {
  position: absolute;
  right: 0;
  top: 0;
  height: 90%;
  border: none;
  border-radius: 0px 5rem 5rem 0px;
  background-color: #fff;
  color: var(--color-tertiary);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 14rem;
}

.footer__widget {
  text-align: left;
}

.footer__widget--title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f7f7f7;
}

.footer__menu--list {
  padding: 1rem 1.5rem;
  text-align: left;
}

.footer__menu--list {
  list-style: none;
  display: block;
  margin-bottom: 3px;
}

.footer__menu--link:link,
.footer__menu--link:visited {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.footer__menu--link:hover,
.footer__menu--link:active {
  color: var(--color-secondary);
}

.copyright-text {
  font-size: 1.6rem;
  color: #fff;
}

.copyright-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.copyright-link:hover,
.copyright-link:active {
  color: var(--color-tertiary);
}
/* Footer ends */

.back-to-top {
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-color: var(--color-tertiary);
  position: fixed;
  bottom: 10%;
  right: -7.5%;
  text-align: center;
  line-height: 6rem;
  opacity: 1;
  visibility: hidden;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.show-back-to-top {
  visibility: visible;
  display: block;
  right: 20px;
}

.section-helps {
  padding-top: 3rem;
  padding-bottom: 10rem;
  line-height: 1.5;
}
.section-helps h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary);
  text-transform: uppercase;
}

.section-helps h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
}

.section-helps p {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  line-height: 1.6;
}

.section-helps ul,
.section-helps ol {
  font-size: 1.4rem;
  margin: 1rem 0;
  line-height: 1.6;
}

.section-helps li {
  margin: 0.5rem 0;
}
